.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
  background-color: rgba(116, 116, 214, 0.801);
  font-weight: 500;
  width: 100%;
  max-width: fit-content;
}

.category {
    font-weight: 400;
}

.product {
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .product {
    margin: 10px;
  }  
}
