.footer {
    height: 10rem;
}

.footer button {
    width: fit-content;
    padding: 5px;
    background-color: black;
    box-shadow: 0 1px 3px #ccc;
}

.footer label {
    font-size: 15px;
    font-family: Quicksand;
}

.footer input {
    display: block;
}

.subscribe {
    height: 2rem;
}

.comment {
    height: 6rem;
}
