.footer {
    background-color: black;
    height: 10rem;
    color: white;
}

.footer input {
    width: 100%;
    max-width: 5rem;
    border: none;
    border-radius: 5px;
}

.footer button {
    width: fit-content;
    padding: 5px;
    background-color: black;
    box-shadow: 0 1px 3px #ccc;
}

.footer label {
    font-size: 15px;
    font-family: DM Mono Medium;
}

.subscribe {
    height: 2rem;
}

.comment {
    height: 6rem;
}
